@charset "UTF-8";

/* 回答はここに書いてね */
.q10Text {
  width: 500px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  border: 5px solid #222;
  border-radius: 30px;
  padding: 20px;
  position: relative;
}
.q10Text:before {
  content: "";
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 20px solid #222;
  position: absolute;
  bottom: -43px;
  left: 30px;
}
.q10Text:after {
  content: "";
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  bottom: -36px;
  left: 30px;
}
/* 回答はここに書いてね */
