@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  background-color: #ecf1f2;
  height: 500px;
  margin: 0 auto;
  position: relative;
  width: 500px;
}
.container div {
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
  position: absolute;
}
.container div:last-child {
  position: fixed;
}
.column1 {
  background-color: #ffefd3;
  left: 200px;
  top: 40px;
  z-index: 1;
}
.column2 {
  background-color: #7084de;
  left: 280px;
  top: 120px;
  z-index: 2;
}
.column3 {
  background-color: #d0ecea;
  left: 360px;
  top: 200px;
  z-index: 3;
}
.column4 {
  background-color: #8b7a5e;
  left: 280px;
  top: 280px;
  z-index: 4;
}
.column5 {
  background-color: #9fd6d2;
  left: 200px;
  top: 360px;
  z-index: 5;
}
.column6 {
  background-color: #fffee4;
  left: 120px;
  top: 280px;
  z-index: 6;
}
.column7 {
  background-color: #deae70;
  left: 40px;
  top: 200px;
  z-index: 7;
}
.column8 {
  background-color: #de70cf;
  left: 120px;
  top: 120px;
  z-index: 8;
}
.column8:before {
  background-color: #ffefd3;
  content: "";
  height: 20px;
  left: 80px;
  position: absolute;
  width: 20px;
}
.column9 {
  background-color: #2b69a3;
  left: 10px;
  top: 10px;
}
/* 回答はここに書いてね */
